/* body{
    background-color: black;
} */
.socialBack{
    background-image: url('/images/socialBackground.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 400px;
    z-index: 2;
}


/* .socialBodyBack{
    /* background-image: url("/images/socialBodyBack.PNG"); */
    /* background-color: rgba(5, 1, 1, 0.938); */
 